
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark mb-5">
    <div class="container">
        <a class="navbar-brand" href="#">HAYA DESIGN</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">الرئيسية</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">المنتجات</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">تواصل معنا</a>
                </li>
            </ul>
            <div class="d-flex">
                <button class="btn btn-light">تسجيل الدخول</button>
                <button class="btn btn-outline-light ml-3">سلة التسوق</button>
            </div>
        </div>
    </div>
</nav>
